@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;700&display=swap');

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

$poppins: 'Poppins', sans-serif;
